h1{
    font-size: 36pt;
    color: salmon;
    text-align: center;
    
}

h2{

    font-size: 20pt;
    color: salmon;
    text-align: center;

}

P{
    font-size: 12pt;
    color: salmon;
    text-align: center;

    
}

link{

    font-size: 36pt;
    color: salmon;
    text-align: center;
}